<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>
<body>
    
    <header hx-get="comp/nav.html" hx-trigger="load">
        



    </header>


    <main hx-get="comp/home.html" hx-trigger="load">

        <div class="card">
            <div class="top"></div>
            <div class="imgBox"></div>
            <div class="text"></div>

    </main>


    <footer hx-get="comp/footer.html" hx-trigger="load" hx-swap="outerHTML">

    </footer>





</body>
</html>