*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, main, footer, nav{

    
    border: 1px solid black;
    min-height: 10vh;
    padding: 3%;
    

}

main{
    display: grid;

    min-height: 70vh;

}

.card{
    border: 1px solid black;
    padding: 6%;
}



img{
    width: 100%;
    display: block;
}

text{
    padding: 8%;
    display: grid;
    gap: 1.5rem;
    justify-content: center;
}

.text button{
    width: 100%;
    background-color: white;
    color: black;
    padding-block: 7%;
}

.top{
    padding: 7%;
    text-align: center;
}


.imgBox{
    padding :2%;
    overflow: hidden;
}

.imgBox img{
    display: block;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 1px 1px black;
}





@media(min-width:700px){
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-inline: 10%;
        gap: 40px;
        row-gap: 100px;
    }
    .imgBox{
        aspect-ratio: 3 / 5;
        
    }



.card{
    border-radius: 15px;
    box-shadow: 3px 3px 1px 1px black;

}
}
