<nav>

    <a href="#" hx-get="comp/home.html" hx-target="main">HOME</a>
    <a href="#" hx-get="comp/about.html" hx-target="main">ABOUT</a>
    <a href="#" hx-get="comp/contact.html" hx-target="main">CONTACT</a>


        <style>
            nav {
                padding: 2%;

           
                display: grid;
                place-items: center;
            }

            nav a {
                color: inherit;
                text-decoration: none;

            }

            @media(min-width:700px) {
                nav {
           
      
                    color:black;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    place-items: center;
                }
            }
        </style>

</nav>

